.f-right{
    float: right;
}

.pt-100{
    padding-top: 100px;
}

.pt-150{
    padding-top: 150px;
}

.pb-100{
    padding-bottom: 100px;
}

.mb-100{
    margin-bottom: 100px;
}

.mb-30{
    margin-bottom: 30px;
}